.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
}

.content {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.tab-content {
    flex: 1;
    display: flex;
    flex-flow: column;

    overflow: hidden;
}

.parent-size {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
}

.editText .blue {
    color: blue;
}
.editText .green {
    color: green;
}
.editText .red {
    color: red;
}
.editText .bold {
    font-weight: bold;
}

.editText .orange {
    color: orange;
}
